1.What are the two values of the Boolean data type? How do you write them?

The two values of Boolean data type is:

True 

False

2. What are the three different types of Boolean operators?

and , or and not

Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate)

and_list = [(0,0,0),(0,1,0),(1,0,0),(1,1,1)]   #(VALUE 1, VALUE 2, OUTPUT)


or_list =  [(0,0,0),(0,1,1),(1,0,1),(1,1,1)]   #(VALUE 1, VALUE 2, OUTPUT)

not_list = [(0,1),(1,0)]                #(Input, Output)

4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)

not (5 &gt; 4)

(5 &gt; 4) or (3 == 5)

not ((5 &gt; 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

False

True

False

False

True

5. What are the six comparison operators?

< 

\>

==

<=

<=

!=

How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

Assignment operator is has single ' = ' symbol where as equal to operator is ' == '. The assignment operator is used to assign values to a variable

Example

a = 5

The value of a is assigned to 5 

a == 5 

Here it is checked if the value of a is equal to 5

In [5]:
spam = int(input("enter a number : "))

if spam == 1:
  print("Hello")
elif spam == 2 :
  print("Howdy")
else:
  print("Greetings")

enter a number : 1
Hello

9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

Ctrl + C

In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

The range(10) function calls ranges upto 10 , exculding 10 and starting from 0

The range(0,10) calls ranges upto 10, excluding 10 and explicitly stating the start point as 0

The range(0,10,1) calls ranges upto 10, excluding 10 and explicitly stating the start point as 0 and telling the function to increase the variable by 1 after each iteration

Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [6]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
i=1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

import spam

spam.bacon()